.textbox{
    width: auto;
    height: 30px;
    outline: brown;
    color: #0a0b0b;
}
.heading{
    justify-content: center;
    font-size:20px;
    font-weight: bold;
    padding: 20px;
}
.button{
    outline: black;
    background-color: aliceblue;
}